{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="display-4">Wish</h1>
  <form action="{{url_for('home')}}" method="POST" class="m-2">
      <input type="text" name="name" class="form-control" placeholder="Your name..." required>
      <input type="text" name="wish"class="form-control" placeholder="Your wish..." required>
      <input type="submit"class="form-control">
  </form>
{% if data %}
  {% for wish in data %}
    <div class="card p-2">
      <em style="color: green;text-transform: capitalize;">{{wish.name}}</em>{{wish.wish}}
    </div><br/>
  {% endfor %}
{% endif %}
</div>
{% endblock %}